<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.busdata.customer.dao.ICustomerDao">
    <resultMap type="Customer" id="custmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="address" column="address"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="fax" column="fax"/>
        <result property="contacts" column="contacts"/>
        <result property="remark" column="remark"/>
        <result property="createDate" column="createDate"/>
        <result property="status" column="status"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="custmap">
        select * from t_customer where id = #{id}
    </select>
    
    <select id="query" parameterType="Customer" resultMap="custmap">
        select * from t_customer where status = 1
        <if test="condition != null and condition !=''">
          or name like #{condition} 
          or address like #{condition}
          or phone like #{condition}
          or email like #{condition}
          or fax like #{condition}
          or contacts like #{condition}
          or remark like #{condition}
        </if>        
          order by createDate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="count" parameterType="Customer" resultType="int">
        select count(1) from t_customer where status = 1
        <if test="condition != null and condition !=''">
          or name like #{condition} 
          or address like #{condition}
          or phone like #{condition}
          or email like #{condition}
          or fax like #{condition}
          or contacts like #{condition}
          or remark like #{condition}
        </if>  
    </select>   
    <insert id="insert" parameterType="Customer">
        insert into t_customer(id, name, address, phone, email, fax, contacts, createDate, remark, status) 
          values(#{id}, #{name}, #{address}, #{phone}, #{email}, #{fax}, #{contacts}, #{createDate}, #{remark}, #{status})
    </insert>
    <update id="update" parameterType="Customer">
        update t_customer set 
          name = #{name},          
          address = #{address},
          phone = #{phone},
          email = #{email},
          fax = #{fax},
          contacts = #{contacts},
          remark = #{remark}
    where id = #{id}
    </update>
    <update id="deleteById" parameterType="String">
        update t_customer set 
          status = '0'
        where id = #{id}
    </update>
    
</mapper>