<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.douniu.imshh.busdata.customer.dao.ICustomerDao">
    <resultMap type="Customer" id="custmap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="call" column="called"/>
        <result property="mobile" column="mobile"/>
        <result property="city" column="city"/>
        <result property="area" column="area"/>
        <result property="apartment" column="apartment"/>
        <result property="address" column="address"/>
        <result property="prospective" column="prospective"/>
        <result property="createDate" column="createData"/>
        <result property="weichat" column="weichat"/>
        <result property="remark" column="remark"/>
    </resultMap>
    
    <select id="findById" parameterType="String" resultMap="custmap">
        select * from t_customer where id = #{id}
    </select>
    
    <select id="query" parameterType="Customer" resultMap="custmap">
        select * from t_customer where 1 = 1
        <if test="name != null and name !=''">
          and name like #{name} 
        </if>
        <if test="mobile != null and mobile !=''">
          and mobile like #{mobile}
        </if>
        <if test="area != null and area !=''">
          and area = #{area}
        </if>
        <if test="apartment != null and apartment !=''">
          and apartment like #{apartment}
        </if>
        <if test="prospective != -1">
          and prospective = #{prospective}
        </if>
        <if test="startDate != null">
          and createDate &gt; #{startDate}
        </if>
        <if test="endDate != null">
          and createDate &lt; #{endDate}
        </if>
          order by createDate desc
          limit #{pageOffset},#{pageSize}
    </select> 
    <select id="count" parameterType="Customer" resultType="int">
        select count(1) from t_customer where 1 = 1
        <if test="name != null and name !=''">
          and name like #{name} 
        </if>
        <if test="mobile != null and mobile !=''">
          and mobile like #{mobile}
        </if>
        <if test="area != null and area !=''">
          and area = #{area}
        </if>
        <if test="apartment != null and apartment !=''">
          and apartment like #{apartment}
        </if>
        <if test="prospective != -1">
          and prospective = #{prospective}
        </if>
        <if test="startDate != null">
          and createDate &gt; #{startDate}
        </if>
        <if test="endDate != null">
          and createDate &lt; #{endDate}
        </if>
          order by createDate desc
    </select>   
    <insert id="insert" parameterType="Customer">
        insert into t_customer(id, name, address, phone, email, fax, contacts, createDate, remark, status) 
          values(#{id}, #{name}, #{address}, #{phone}, #{email}, #{fax}, #{contacts}, #{createDate}, #{remark}, #{status})
    </insert>
    <update id="update" parameterType="Customer">
        update t_customer set 
          name = #{name},
          called = #{call},
          mobile = #{mobile},
          city = #{city},
          area = #{area},
          apartment = #{apartment},
          address = #{address},
          prospective = #{prospective},
          createDate = #{createDate},
          weichat = #{weichat},
          remark = #{remark}
        where id = #{id}
    </update>
</mapper>