/* Sidebar navigation */

body {
    padding-top: 0;
    padding-bottom: 40px;
    font-family: Verdana, Arial, sans-serif;
    background-color: #f5f5f5;
}


@media (min-width: 979px){
    body {
        padding-top: 60px;
    }
}

.page-content > .row {
  margin-left: 0px !important;
  margin-right: 0px !important;
  /* margin-top: 10px; */
}

.sidebar{
    background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}

.sidebar ul.level1, 
.sidebar ul.level2, 
.sidebar ul.level2 ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}



/****level2****/
.sidebar > ul.level2 > li > div{
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}


.sidebar > ul.level2 > li > div > a{
    color: #5e5e5e;
    font-size: 1.1em;
    line-height: 16px;
    padding: 10px 15px;
    display: block;
    background:none;
    text-decoration: none;
    font-weight: 600;
}

.sidebar > ul.level2 > li.active > div > a{
    color: #0b84e0;
}

.sidebar > ul.level2 > li > ul > li > a{
    color: #5e5e5e;    
    line-height: 16px;
    padding: 8px 15px;
    display: block;
    background:none;
    text-decoration: none;
}

.sidebar > ul.level2 > li > ul > li.active > a,
.sidebar > ul.level2 > li > ul > li > a:hover{
    color: #fff;
    background-color:#0b84e0;
}

.sidebar > ul.level2 > li:last-child > ul > li:last-child > a{
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
}

.sidebar > ul.level2 > li > div > a > i{
    margin-right: 10px;
}


/***level 1***/
.sidebar ul.level1 li{
    border-bottom: 1px solid #e5e5e5;   
}

.sidbar ul.level1 li:last-child{
    border-bottom: 0px;
}

.sidebar ul.level1 li a{
    color: #5e5e5e;
    padding: 10px 15px;
    display: block;
    background:none;
    text-decoration: none;
}

.sidebar > ul.level1 > li:first-child > a{
    -webkit-border-radius: 6px 6px 0 0;
       -moz-border-radius: 6px 6px 0 0;
            border-radius: 6px 6px 0 0;
}

.sidebar > ul.level1 > li:last-child > a{
    -webkit-border-radius: 0 0 6px 6px;
       -moz-border-radius: 0 0 6px 6px;
            border-radius: 0 0 6px 6px;
}

.sidebar ul.level1 li.active a,
.sidebar ul.level1 li a:hover{
    color: #fff;
    background: #0b84e0;
}
